<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to Customer reservation! <%= name %></p>
<a href="/">Home</a>
<a href="/current_resv">Current Reservations</a>
<a href="/history_resv">Past Reservations</a>
<a href="/logout">logout</a><br>
    <br>
    <br>
    <table id="resv_confirm">
        <tr>
            <th>ResvID </th>
            <th>Email </th>
            <th>RoomNumber </th>
            <th>CheckinDate </th>
            <th>CheckoutDate </th>
            <th>Price </th>
            <th>RoomType </th>
        </tr>
    </table>
     <!-- ***********INSERT_REFUND_ACCOUNT*********** -->
     <form action="/rooms_search" method="post">
        <table>
            <td>
            Bank : <input type="string" name="bank"/><br>
            </td>
            <td>
            Account : <input type="number" name="account"/><br>
            </td>
        </table>
     <button type="button">CONFIRM</button>
     </form>

</body>
</html>
