<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to Manager main <%= name %></p>
<a href="/rooms">Check room status</a>
<a href="/list">Reservation list</a>
<a href="/make_resv">Make Reservation</a>
<a href="/logout">logout</a>
</body>
</html>
