<!DOCTYPE html>
<html>
<head>
<title> Reservation Success</title>
</head>

<body>
  <script>
    alert("Reservation success!")
    var form = document.createElement("form");
    form.setAttribute("method", "get");
    form.setAttribute("action", "/");
    document.body.appendChild(form);
    form.submit();
  </script>
</body>
</html>
