<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action='/login_try' method="post">
      User email : <input type="email" name="userid"><br>
      Password : <input type="password" name="pwd"><br>
      <input type="submit" value="Sign In">
    </form>
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <a href="/findpwd">Find password</a>
  </body>
</html>
