<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
    <style>
        div{
            width : 300px;
            }
        div img{
            height: 100%;
            width: 100%;
        }
    </style>

</head>
<body>
<h1><%= title %></h1>
<p>Welcome to Customer list <%= name %></p>
<a href="/">Home</a>
<a href="/logout">logout</a><br>
    <div>
    <img src="../image/room1.jpg" >
    <p> Special Room, full-option, very nice
    </div>
    <div>
    <img src="../image/room2.jpg" >
    <p> Twin/Double Room. For two or three people, twin bed inside</p>
    </div>
    <div>
    <img src="../image/room3.jpg" >
    <p> Single Room, Quiet and TV inside</p>
    </div>
</body>
</html>

